[user]
  name = Vassil Kalkov
  email = 103871+kalkov@users.noreply.github.com

[core]
  editor=vim
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = less

[push]
  default = matching

[rerere]
  enabled = true

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[apply]
  whitespace = nowarn

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[alias]
  st = status -sb
  br = branch
  bro = branch --sort=committerdate | xargs echo
  ci = commit
  co = checkout
  df = diff
  dfc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s  %Cblue%as%Creset %Cblue(%cr)  %C(bold green)<%an>%Creset' --abbrev-commit
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  ls = ls-files
  today = log --stat --since='1 Day Ago' --graph --pretty=oneline --abbrev-commit --date=relative
  undo = reset --soft HEAD^
  amend = commit --amend
  unstage = reset HEAD
  commits-per-user = shortlog -s -n
  pushf = push --force-with-lease
  rc = rebase --continue
  ra = rebase --abort
  rs = rebase --skip
  ri = rebase --interactive
  rom = rebase origin/master 

[help]
  autocorrect = 1

[web]
  browser = chrome

[github]
  user = kalkov
